

html, body{
  padding: 0;
  margin: 0;
background: #cfcfcf;
}

#app{
 
  display: flex;
  justify-content: center;
  background-color: black;
}
#anim-container{
  width:calc(100vh / 1.77);
  height: 100vh;
  display: grid;
  overflow: hidden;
  background-color: white;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
